<div class="app-nav">
    <div class="container-fluid">
      <div class="navigation-container">
        <nav class="nav">
          <ul>
            <li class="nav__item">
              <a [routerLink]="['/genres']"
              routerLinkActive="active" class="nav__link">Genres</a>
            </li>
            <li class="nav__item">
                <a [routerLink]="['/movies']"
                routerLinkActive="active" class="nav__link">All Movies</a>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>